.realgymcore-testimonials-slider .swiper-pagination-bullet {
	width: 37px;
	height: 8px;
	background: #3B412E;
	border-radius: 100px;
	opacity: 1;
	margin: 0 !important;
}
.realgymcore-testimonials-slider .swiper-pagination-bullet-active {
	background-color: var(--realgym-primary-color);
}
.realgymcore-swiper-container.realgymcore-testimonials-slider {
	padding-bottom: 100px;
}
.realgymcore-testimonials-slider .swiper-wrapper {
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}
.realgymcore-swiper-container .testimonials-item {
	height: 840px;
}
.realgymcore-testimonials-slider .testimonials-content {
	position: absolute;
	right: -100px;
	bottom: -100px;
	width: 755px;
	max-height: 475px;
	max-width: 100%;
	overflow: hidden;
	-webkit-box-shadow: 0 4px 10px rgb(0 0 0 / 35%);
	box-shadow: 0 4px 10px rgb(0 0 0 / 35%);
}
.realgymcore-swiper-container .testimonials-content-body, .realgymcore-swiper-container .testimonials-content-footer {
	padding: 60px;
}
.realgymcore-swiper-container .testimonials-content-footer {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.realgymcore-swiper-container .testimonials-content-body, .realgymcore-swiper-container .testimonials-content-footer {
	background: #121D2C;
}
.realgymcore-swiper-container .content-footer-texts {
	margin-left: 20px;
	margin-top: 6px;
}
.realgymcore-swiper-container .content-footer-texts h4 {
	margin-bottom: 8px;
}
.testimonials-content-body h2 {
	margin-bottom: 20px;
}
.realgymcore-swiper-container .testimonials-author-img {
	width: 80px;
	height: 80px;
	min-width: 80px;
}
.realgymcore-swiper-container .testimonials-review, .realgymcore-swiper-container .vip {
	padding-left: 15px;
	margin-left: 12px;
	position: relative;
}
.realgymcore-swiper-container .testimonials-review:before, .realgymcore-swiper-container .vip:before {
	content: "";
	position: absolute;
	left: 0;
	top: calc(50% - 1.5px);
	width: 3px;
	height: 3px;
	background-color: #FFFFFF;
	border-radius: 50%;
}
.realgymcore-swiper-container .testimonials-star {
	margin-right: 4px;
	font-size: 20px;
}
.testimonials-star svg path {
	fill: var(--realgym-primary-color);
}
.realgymcore-swiper-container .realgymcore-full-width {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
.realgymcore-swiper-container .swiper-slide {
	max-width: unset;
}
.realgymcore-swiper-container .container {
	padding: 0;
}
.realgymcore-review .swiper-pagination {
	position: absolute;
	top: -40px;
	bottom: unset;
	left: unset;
	right: 0;
	width: unset;
	line-height: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 8px;
}
.realgymcore-review {
	position: relative;
}
.realgymcore-swiper-container .testimonials-item .image-wrapper {
	height: 100%;
}
.realgymcore-testimonials-slider .testimonials-content-footer {
	padding: 20px 60px;
}
.realgymcore-swiper-container .testimonials-author-img img {
	width: 80px;
	height: 80px;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 100%;
}
/*  Slider 2 Customizations */
.realgymcore-testimonials-slider-2 .testimonials-content-body h2 {
	font-style: normal;
	font-weight: 600;
}
.realgymcore-testimonials-slider-2 .slider-images {
	max-height: 100%;
	height: 100%;
}
.realgymcore-testimonials-slider-2 .testimonials-content-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.realgymcore-testimonials-slider-2 .wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background-color: #121D2C;
}
.realgymcore-testimonials-slider-2 .slider-arrow {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 0.75px solid #FFFFFF;;
}
.realgymcore-testimonials-slider-2 .slider-next {
	-webkit-transform: scale(-1);
	-ms-transform: scale(-1);
	transform: scale(-1);
	margin-left: 12px;
}
.realgymcore-testimonials-slider-2 .swiper-button-disabled {
	opacity: .6;
	pointer-events: none;
}
.realgymcore-testimonials-slider-2 .slider-arrow:not(.swiper-button-disabled):hover {
	border-color: var(--realgym-primary-color);
}

.realgymcore-testimonials-slider-2 .slider-arrow {
	transition: .2s;
}

.realgymcore-testimonials-slider-2 .slider-arrow:not(.swiper-button-disabled):hover path {
	fill: var(--realgym-primary-color);
}

.realgymcore-testimonials-slider-2 .slider-arrow path {
	transition: .2s;
}
@media only screen and (max-width: 1200px) {
	.realgymcore-swiper-container .testimonials-content {
		right: -8vw;
		bottom: -8vh;
	}
}
@media only screen and (max-width: 992px) {
	.realgymcore-testimonials-slider .testimonials-content {
		position: initial;
	}
	.realgymcore-swiper-container .testimonials-item {
		height: 500px;
	}
	.realgymcore-testimonials-slider .swiper-wrapper {
		-webkit-box-align: initial;
		-ms-flex-align: initial;
		align-items: initial;
	}
	.realgymcore-swiper-container .testimonials-content-body, .realgymcore-swiper-container .testimonials-content-footer {
		padding: 40px;
	}
	.realgymcore-swiper-container.realgymcore-testimonials-slider {
		padding-bottom: 0;
	}
}
@media only screen and (max-width: 768px) {
	.realgymcore-testimonials-slider-2 .content-footer-texts h4 {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.realgymcore-testimonials-slider-2 .vip {
		margin-left: 0;
	}
	.realgymcore-review .swiper-pagination {
		position: static;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
		margin-bottom: 0;
		margin-top: 30px;
	}
	.realgymcore-swiper-container .container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.realgymcore-swiper-container .testimonials-item {
		height: 340px;
	}
}
@media only screen and (max-width: 576px) {
	.realgymcore-swiper-container .card {
		margin-bottom: 15px;
	}
	.realgymcore-testimonials-slider-2 .testimonials-content-footer {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.realgymcore-swiper-container .slider-arrows {
		margin: 30px auto 0;
	}
	.realgymcore-testimonials-slider .testimonials-content {
		max-height: initial;
	}
}
