.service-chart {
	margin-top: 60px;
	position: relative;
	display: inline-block;
	float: right;
}

.chart-lines {
	display: inline-block;
	float: right;
}

.chart-lines svg {
	width: 100%;
	height: auto;
}

.customer-circle {
	position: absolute;
	left: -10px;
	top: -10px;
	bottom: -10px;
	right: -10px;
	-webkit-transform: rotateZ(-97deg);
	-ms-transform: rotate(-97deg);
	transform: rotateZ(-97deg);
}

.customer-dot {
	top: 0;
	left: 8px;
	position: absolute;
	opacity: 0;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

.chart-text {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-bottom: 40px;
}

.chart-text p {
	font-size: 17px;
}

.chart-text h4 {
	color: var(--primary-color);
	font-size: 40px;
	line-height: 40px;
}
